@{
    ViewBag.Title ="Toplanti Özeti";
    
}
<h1 class="h4">Toplanti Özeti</h1>
<p>Toplantiya sizinle birlikte 20 kişi katiliyor.</p>
<a class="btn btn-sm btn-outline-primary" href="#">Katilimcilari Listele</a>